
@font-face {
    font-family: 'LoraRegular';
    src: url(./Lora-Regular.ttf);
}

@font-face {
    font-family: 'LoraBold';
    src: url(./Lora-Bold.ttf);
}

@font-face {
    font-family: 'LatoRegular';
    src: url(./lato-regular.ttf);
}
